.sub.header .right{
    margin-left:1em;
}
.ui.device.segment{

}
.ui.device.segment p{
    color:#666;
}
.ui.device.segment p.sensorStatus{
    font-size:14px;
}
.ui.device.segment .sub.header{
    line-height:1.4;
}
