html{
	height:100%;
}
body {
    font: 14px 'Helvetica Neue','Microsoft YaHei','Hiragino Sans GB','WenQuanYi Micro Hei',Helvetica,Arial,Sans-serif;
    line-height: 1.6;
    color: #333;
    margin:0px;
    padding:0px;
	height:100%;
}
ul,li{
    list-style:none;
    margin:0;
    padding:0;
}
a {
	text-decoration:none;
	color:#666;
}
.page{
	min-height:100%;
	width:100%;
	position:relative;
	background: #fff;
	box-shadow: 0px 4px 15px #181818;
}
/*header start*/
#header {
	min-width:1200px;
	height:100px;
	position:relative;
	margin-bottom:24px;
}
#header .logo {
	width:230px;
	background:url(../images/logo.png) left center no-repeat;
}
#header .logo a {
	display:block;
	width:230px;
	height:100px;
	text-indent:-999em;
}
#header .inset{
	position:relative;
}
#header .fixed {
	width:100%;
	min-width: 1200px;
	height:60px;
	background: url(../images/navbar_bg.png) top repeat-x;
}
#header .fixed .logo a {
	height:60px;
}
#header .inset .wraper{
	width:1200px;
	position:relative;
	margin:0 auto;
}
#header .fixed .right-menu{
    position: absolute;
    right: 8px;
	top:4px;
	background:#fff;
	padding:0 12px;
}
#header .fixed .right-menu ul{
	padding: 16px 0;
}
#header .fixed .right-menu li{
    display: inline-block;
    margin:0 6px;
    position: relative;
}
#userName{
    top:2px;
}
#header .ui.menu{
	margin:0;
}
#mainMenu{
	border-bottom: 3px solid rgba(0, 0, 0, 0.1);
}
#mainMenu .wraper{
    width:1200px;
	position:relative;
	margin:0 auto;
}
#mainMenu .wraper .menu.right a.item{
	opacity:0.6;
}
#mainMenu .wraper .menu.right a.item:hover{
	opacity:0.8;
}
/*main content*/
.pageHeader .verticalMenu{
	padding:1rem 0;
}
/*show api key*/
#showApiKey .segment{
	background:none;
	box-shadow:none;
	-webkit-box-shadow:none;
}
#showApiKey .segment label{
	font-size:16px;
}
#deviceQuickButton {
	float:right;
}
/*device list*/
#deviceList{
	padding-top:2rem;
}
#deviceList .segment{
	padding:0;
}
#deviceList a.content{
	position:relative;
	padding:1rem;
	display:block;
	min-height:13em;
	z-index:100;
}
#deviceList a.content:hover, #deviceList a.content:focus{
	background-color:#b4ddf5 !important;
}
#deviceList h4{
	margin:0;
	color:#333;
}
#deviceList p.deviceId{
	margin-top:0;
}
#deviceList p.deviceDescription{
	height:84px;
	overflow:auto;
	margin:2rem 0;
}
#deviceList h4.newDevice{
	padding:4.7em 0;
	text-align:center;
	top:50%;
}
#deviceList p{
	margin:0;
}
/*footer start*/
footer {
	width:100%;
	height:150px;
	background:#323232;
	position:absolute;
	z-index: -20;
}
#copyrights {
	min-width:1200px;
	margin:0 auto;
	height:140px;
	position:fixed;
	left:0px;
	right:0px;
	bottom:0px;
	z-index: -15;
}
#copyrights .inset {
	width:1100px;
	margin:0 auto;
	padding:20px 50px 0;
	position:relative;
}
#copyrights .logo {
	width:164px;
	height:40px;
	background:url(../images/logo_footer.png);
	text-indent:-999em;
}
#copyrights p {
	font-size:12px;
	color:#a0a0a0;
	line-height:24px;
}
#copyrights .fl {
	float:left;
}
#copyrights .fr {
	float:right;
}
#copyrights .searchbar {
	display:inline-block;
	border:3px solid #464646;
	height:24px;
	width:290px;
	background:#666;
	bottom:0;
	right:0;
}
#copyrights .searchbar input {
	border:0;
	outline:none;
	height:24px;
	background:none;
	padding-left:4px;
	width:220px;
	float:left;
}
#copyrights .searchbar button {
	border:0;
	height:24px;
	background:url(../images/icon_search.png) center center no-repeat;
	background-color:#464646;
	width:36px;
	text-indent:-999em;
	cursor:pointer;
	float:right;
}
#copyrights .searchbar button:hover {
	background-color:#535353;
}
#copyrights .searchbar button:active {
	background-color:#8a8a8a;
}
#copyrights .nav {
}
#copyrights .nav li {
	display:inline-block;
	float:left;
}
#copyrights .nav li a {
	color:#a0a0a0;
	font-size:12px;
	line-height:24px;
	padding-left:16px;
	background:url(../images/arrow-white-l2r.png) left center no-repeat;
}
#copyrights .medias {
	position:absolute;
	right:48px;
	top:20px;
}
#copyrights .medias img {
	border:0;
    margin-top:4px;
}
#copyrights .medias li {
	width:30px;
	height:30px;
	display:inline-block;
	text-align:center;
	vertical-align:center;
	float:left;
	margin-left:4px;
}
#copyrights .medias li.weibo {
	background:#464646;
}
