body {
    font-family: "Microsoft YaHei", "Hiragino Sans GB", "WenQuanYi Micro Hei","Arial", sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333;
    background-color: #fff;
    margin:0px;
    padding:0px;
}
ul,li{
    list-style:none;
    margin:0;
    padding:0;
}
a {
	text-decoration:none;
	color:#666;
}
/*header start*/
#header {
	min-width:1200px;
	height:100px;
	position:relative;
	z-index:99;
}
#header .logo {
	width:230px;
	background:url(../images/logo.png) left center no-repeat;
}
#header .logo a {
	display:block;
	width:230px;
	height:100px;
	text-indent:-999em;
}
#header .inset{
	position:relative;
}
#header .fixed {
	width:100%;
	min-width: 1200px;
	z-index: 999;
	background:url(../images/navbar_bg.png) top repeat-x;
	height:60px;
}
#header .fixed .logo a {
	height:60px;
}
#header .inset .wraper{
	width:1200px;
	position:relative;
	margin:0 auto;
}
#header .fixed .right-menu{
    position: absolute;
    right: 8px;
    top: 20px;
    text-decoration:none;
}
#header .fixed .right-menu li{
    display: inline-block;
    margin-left: 6px;
    position: relative;
}
#userName{
    top:2px;
}
#header .ui.menu{
	margin:0;
}
#mainMenu{
	border-bottom: 3px solid rgba(0, 0, 0, 0.1);
}
#mainMenu .wraper{
    width:1200px;
	position:relative;
	margin:0 auto;
}
/*footer start*/
#footer {
	min-width:1200px;
	margin-top: 24px;
}
#copyrights {
	background:#323232;
	height:140px;
}
#copyrights .inset {
	width:1100px;
	margin:0 auto;
	padding:20px 50px 0;
	position:relative;
}
#copyrights .logo {
	width:164px;
	height:40px;
	background:url(../images/logo_footer.png);
	text-indent:-999em;
}
#copyrights p {
	font-size:12px;
	color:#a0a0a0;
	line-height:24px;
}
#copyrights .fl {
	float:left;
}
#copyrights .fr {
	float:right;
}
#copyrights .searchbar {
	display:inline-block;
	border:3px solid #464646;
	height:24px;
	width:290px;
	background:#666;
	/*position:absolute;*/
	bottom:0;
	right:0;
}
#copyrights .searchbar input {
	border:0;
	outline:none;
	height:24px;
	background:none;
	padding-left:4px;
	width:220px;
	float:left;
}
#copyrights .searchbar button {
	border:0;
	height:24px;
	background:url(../images/icon_search.png) center center no-repeat;
	background-color:#464646;
	width:36px;
	text-indent:-999em;
	cursor:pointer;
	float:right;
}
#copyrights .searchbar button:hover {
	background-color:#535353;
}
#copyrights .searchbar button:active {
	background-color:#8a8a8a;
}
#copyrights .nav {
}
#copyrights .nav li {
	display:inline-block;
	float:left;
}
#copyrights .nav li a {
	color:#a0a0a0;
	font-size:12px;
	line-height:24px;
	padding-left:16px;
	background:url(../images/arrow-white-l2r.png) left center no-repeat;
}
#copyrights .medias {
	position:absolute;
	right:48px;
	top:20px;
}
#copyrights .medias img {
	border:0;
    margin-top:4px;
}
#copyrights .medias li {
	width:30px;
	height:30px;
	display:inline-block;
	text-align:center;
	vertical-align:center;
	float:left;
	margin-left:4px;
}
#copyrights .medias li.weibo {
	background:#464646;
}
