html{
	height:100%;
	font-size:100%;
}
body {
    font: 14px 'Helvetica Neue','Microsoft YaHei','Hiragino Sans GB','WenQuanYi Micro Hei',Helvetica,Arial,Sans-serif;
    line-height: 1.428571429;
    color: #333;
    margin:0px;
    padding:0px;
	height:100%;
}
ul,li{
    list-style:none;
    margin:0;
    padding:0;
}
a {
	text-decoration:none;
	color:#666;
}
.page{
	min-height:100%;
	width:100%;
	background: #fff;
	box-shadow: 0px 4px 15px #181818;
	padding-bottom:16px;
	padding-bottom:1rem;
}
/*header start*/
header{
	position:relative;
	height:72px;
}
#logo{
	float:left;
	width:180px;
	height:72px;
	background: url(../images/logo.png) left center no-repeat;
}
#logo a{
	display:block;
	width:180px;
	height:72px;
	text-indent: -999em;
}
header .user{
	display:inline;
	float:right;
	margin-top:22px;
}
/*main content*/
.pageHeader, .verticalMenu{
    padding:16px 0;
	padding:1rem 0;
}
/*show api key*/
#showApiKey .segment{
	background:none;
	box-shadow:none;
	-webkit-box-shadow:none;
}
#showApiKey .segment label{
	font-size:16px;
}
#deviceQuickButton {
	float:right;
}
/*index list*/
#indexList{
	padding-top:2rem;
}
#indexList .segment{
	padding:0;
}
#indexList a.content{
	position:relative;
	padding:1rem;
	display:block;
	min-height:13em;
	z-index:100;
}
#indexList a.content:hover, #indexList a.content:focus{
	background-color:#b4ddf5 !important;
}
#indexList h4{
	margin:0;
	color:#333;
}
#indexList p.deviceId{
	margin-top:0;
}
#indexList p.deviceDescription{
	height:84px;
	overflow:auto;
	margin:2rem 0;
}
#indexList h4.newDevice{
	padding:4.7em 0;
	text-align:center;
	top:50%;
}
#indexList p{
	margin:0;
}
/*the device list*/
.sub.header .right{
    margin-left:1em;
}
.ui.device.segment{

}
.ui.device.segment p{
    color:#666;
}
.ui.device.segment p.sensorStatus{
    font-size:14px;
    font-size:0.875rem;
}
.ui.device.segment .sub.header{
    line-height:1.4;
}
/*new device*/
.locmap {
	height: 180px;
	background-color: #CCC;
	text-align: center;
	width: 100% !important;
	border: #CCC 1px solid;z
}
#location label{
	margin: 0em 0em 0.3em;
	display: block;
	color: #555555;
	font-size:14px;
	font-size:0.875rem;
}
#location input{
	padding:0!important;
	border: 1px solid transparent!important;
	box-shadow:none!important;
	-webkit-box-shadow:none!important;
}
/*the sensor*/
.ui.small.header{
    font-weight:normal;
}
.ui.grid.segment.sensor.segment{
    padding:32px 0 16px;
    padding:2rem 0 1rem;
    border-bottom:1px solid rgba(0,0,0,.1);
}
.ui.sensor.segment .sensorUrl{
    font-size:14px;
    font-size:0.875rem;
    color:#666;
}
.ui.sensor.segment .sensorUrl a{
    color:#0AA5DF;
}
.ui.sensor.segment .sensorUrl a:hover, .ui.sensor.segment .sensorUrl a:focus{
    text-decoration:underline;
}
.ui.vertical.center.segment{
    text-align:center;
}
/*footer start*/
footer {
	width:100%;
	height:150px;
	background:#323232;
	position:absolute;
	z-index: -20;
}
#copyrights {
	margin:0 auto;
	height:140px;
	position:fixed;
	left:0px;
	right:0px;
	bottom:0px;
	z-index: -15;
}
#copyrights .inset {
	margin:0 auto;
	padding:20px 50px 0;
	position:relative;
}
#copyrights .logo {
	width:164px;
	height:40px;
	background:url(../images/logo_footer.png);
	text-indent:-999em;
}
#copyrights p {
	font-size:12px;
	color:#a0a0a0;
	line-height:24px;
}
#copyrights .fl {
	float:left;
}
