.locmap {
	height: 180px;
	background-color: #CCC;
	text-align: center;
	width: 100% !important;
	border: #CCC 1px solid;z
}
#location label{
	margin: 0em 0em 0.3em;
	display: block;
	color: #555555;
	font-size:14px;
	font-size:0.875rem;
}
#location input{
	padding:0!important;
	border: 1px solid transparent!important;
	box-shadow:none!important;
	-webkit-box-shadow:none!important;
}
